[submodule "CRoaring"]
	path = CRoaring
	url = git@github.com:wwow1/CRoaring.git
[submodule "third_party/sql-parser"]
	path = third_party/sql-parser
	url = https://github.com/hyrise/sql-parser
[submodule "third_party/libpqxx"]
	path = third_party/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
